/**
 * Jux Box Style Sheet
 */

body {
  min-height: 100vh;
  background: #fff;
  /*font-family: "PT Mono", monospace;*/
  font-family: "Roboto", sans-serif;
}

.image-wrapper .image-wrapper .image {
  position: relative;
  z-index: 2;
}

.image-wrapper.first:before #header-wrapper .homepage #header-wrapper #promo-wrapper {
  position: relative;
  background-image: url("images/overlay.png"), url("../images/promo.jpg");
  background-size: 192px 192px, cover;
  background-position: top left, center center;
  color: #fff;
  text-align: center;
  padding: 6em 0 6em 0;
}

.row {
  padding-left: 0px !important;
  margin-top: 0.5em;
  text-align: center;
  margin-left: auto !important;
  margin-right: auto !important;
}

h4 {
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: 700;
}

h3 {
  font-size: 1.3em;
}

#generate-button {
  font-family: RobotoLight;
  font-size: 2em;
  background-color: #577196;
  color: #fff;
  padding: 0.3em 4em;
  border: 2px solid #4d6485;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 3px 0px #777;
  -moz-box-shadow: 0px 2px 3px 0px #777; /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 2px 3px 0px #777;
  margin: 0.5em;
}

#header-wrapper {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 7em 5em;
}

#select-prompt {
  color: #b2b2b2;
  font-size: 1.5em;
  margin-top: 1em;
}

input[type="image"] {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  padding: 0em;
  border-radius: 25%;
  -webkit-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
  background-repeat: no-repeat;
}

input[type="image"]:hover,
input[type="submit"]:hover {
  opacity: 0.6;
  /* the reset button when hovered over */
}

input[type="image"]:active {
  /* the reset button when mouse-down */
  opacity: 0.2;
}

.selected1 {
  border: 10px solid #ffb74d;
}

.selected1::after {
  content: "P1";
  width: 10em;
  height: 10em;
  position: absolute;
  color: #fff;
  background: #000;
  right: 0;
  top: 0;
  padding: 10px;
  z-index: 1;
}

.selected2 {
  border: 10px solid #8bd7cb;
}

.image-wrapper {
  padding: 1em 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  text-align: center;
  position: relative;
}

.player1 {
  font-family: RobotoBoldItalic;
  position: absolute;
  top: 1.9em;
  right: -.5em;
  width: 3.2em;
  height: 3.2em;
  line-height: 3.2em;
  color: #fff;
  background: #ffb74d;
  border-radius: 100%;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
}

#quote-wrapper {
  width: 450px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

#quote {
  color: #6985a7;
  font-size: 1.2em;
  line-height: 1.7em;
}

#header-wrapper h1 {
  padding: 0.4em 1em;
  font-family: RobotoLight;
  font-size: 3em;
  color: #6985a7;
}

#prompt {
  padding: 1.5em 0em;
  color: #b2b2b2;
  text-align: center;
  font-size: 1.6em;
  font-family: RobotoLight;
}

#nav-header {
  background: #f3f7fd;
  padding: 10px;
}
#nav-container {
  max-width: 1080px;
}
#nav-header h1 {
  color: #6985a7;
  font-size: 20px;
}
